@media (max-width: 1027px) {
  .fMGhCo {
    min-height: 1100px;
    max-height: 1500px;
    height: 1250px;
  }
  .about-skills {
    flex-direction: column;
  }
  .about-container {
    height: 1040px;
  }
}
/* Red background color for screens up to 767px */
@media (max-width: 778px) {
  .inner-home {
    flex-direction: column;
    height: unset;
  }
  .color-box {
    left: 40px;
  }
  .love-container {
    justify-content: center;
  }
  .article {
    flex-direction: column;
  }
  .avatar {
    margin-bottom: 30px;
  }
  .about-container {
    height: 1700px;
  }
  .fMGhCo {
    max-height: 2500px;
    height: 1400px;
  }
  .project-card {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0px 1fr; /* Adjust the grid template rows for column layout */
  }

  .project-details {
    grid-area: 1 / 1 / auto / 2;
  }

  .project-preview {
    position: unset;
    grid-area: 3 / 1 / auto / 2;
  }
  .detail-container {
    width: 80%;
    margin-left: 10%;
  }
  .detail-container p {
    min-height: 180px;
  }
  .language-icons {
    justify-content: space-evenly;
  }
  .project-links {
    justify-content: flex-end;
  }
  #math-magic {
    min-height: 50px;
  }
  #handy-mate {
    min-height: 100px;
  }
  .contact-container {
    flex-direction: column;
  }
  form {
    width: 100%;
  }
  .contact-icon {
    margin: auto;
    padding: 5% 0;
  }
  .nav-bar ul {
    visibility: visible;
    display: flex;
    gap: 3.2rem;
    list-style: none;
  }

  .mobile-menu ul,
  .mobile-menu div {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    margin-top: 30px;
  }
  .outer-list {
    display: none;
  }
  .menu-btn {
    display: block;
  }
  .menu-item a,
  #close-btn {
    color: rgb(109, 131, 242);
  }
  #menu {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: fit-content;
    width: 100%;
    padding: 10%;
  }
}
@media (max-width: 593px) {
  .fMGhCo {
    height: 1520px;
  }
}
@media (max-width: 430px) {
  .fMGhCo {
    height: 1650px;
  }
}
@media (min-width: 778px) and (max-width: 1024px) {
  .menu-btn {
    display: none !important;
  }
}
@media (min-width: 1028px) {
  .menu-btn {
    display: none !important;
  }
}
