* {
  box-sizing: border-box;
}
html {
  line-height: 1.15;
}
body {
  overflow-x: hidden;
  background-color: rgb(248, 248, 248);
  color: rgb(56, 56, 56);
  margin: 0;
}
body,
html {
  height: 100%;
  font-size: calc(12px + 0.4vw);
  font-family: Montserrat, sans-serif;
}
